body {
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.tel {
    width: 122px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.email {
    width: 135px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
}

.email:hover {
    width: 135px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.web {
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.studio {
    width: 145px;
    height: 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.contact {
    width: 64px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.portfolio {
    width: 72px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.studio-a {
    width: 45px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.studio-a:active {
    width: 45px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.btn-text:active {
    width: 152px;
    height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.btn-text {
    width: 152px;
    height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.btn {
    width: 216px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.btn:active {
    width: 216px;
    height: 50px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.hero {
    width: 1600px;
    height: 600px;
    background: #2F303A;
    text-align: center;
}

.hero-text {
    width: 696px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-block {
    padding-top: 80px;
    padding-bottom: 200px;
}


.container-nav {
    margin: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    margin-left: 93px;
}

.nav-text {
    margin-right: 50px;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.info-section {
    margin-top: 94px;
    margin-bottom: 94px;
    margin-right: 215px;
}

.info-items {
    display: flex;
}

.info-item {
    margin-right: 30px;
}

.info-text {
    width: 270px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #212121;
}

.info-paragraph {
    width: 270px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: #757575;
    margin-top: 10px;
    
}





